Requirements - 
Produce the software using JavaScript and/or PHP programming languages with the MySQL database.
The System should have To-Do list functionality
Employees should be able to produce To-Do items
There should be a Manager’s Dashboard
Managers and team leaders should be able to keep track of the progression of projects they are responsible for.
The new system should be able to show how many tasks a team member is currently working on.
The User should be able to create “Topics” for specific subject areas.
Within a “Topic”, a user should be able to create posts relevant to that “Topic”
Access to the system needs to be managed?
Staff must register to gain access to the system
A user’s account must use their staff email address
An account must be protected by a strong password
There must be an option for an existing member to invite another member of staff to join the system.
No staff member must have more than one account on the system
No external personnel should be allowed to register and create an account on the system.
Users should be able to see how well the tasks are allocated
Users should be able to see how well the projects are progressing overall
Users should be able to see whether the projects are sufficiently resourced to solve problems in an acceptable time
Users should be able to see whether there are subject areas where training should be given to employees
Users should be able to see 
There should be suitable aspects of data protection considered so the system cannot be exploited to target specific individuals.